/* shared style */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 1.3rem;
    font-family: 600;
    padding: 20px 25px;
    cursor: pointer;
}
.txet-light-gray {
    color: #727272;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main style */

main{
    max-width: 1140px;
    margin: 70px auto;
}
/* teams style */

.team-container{
    display: flex;
    align-items: center;
}
.team-container-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quic-list, .teams-discription{
    color: #727272;
}
.text-feture{
    color: #FF900E;
    font-weight: 700;
}



/* responsive media Quary */
/* Moibile device */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
    .team-container-img{
        display: grid;
        grid-template-columns: 1fr;
    }
    .teams-contant{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* tablet or mediam device */

@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
}